<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid backi">
  <div class="row page-header  ">
      <div class="col-1 justify-content-center">
        </div>
    <div class="col-10 justify-content-center">
      <img src="../assets/Logo.png" class="img-fluid animated bounceIn slower " alt="Logo Rick" />
    </div>
    <div class="col-1">
      <img src="../assets/List eggs.png" class="img-fluid " alt="List eggs" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 d-flex align-items-end">
      <img src="../assets/perso2.png" class="img-fluid  " alt="vortex1" />
    </div>
    <div class="col-sm-3">
      <img src="../assets/vortex2.png" class="img-fluid rotating " alt="vortex1" />
    </div>
    <div class="col-sm-3">
      <img src="../assets/vortex2.png" class="img-fluid rotatingdeux" alt="vortex2" />
    </div>
    <div class="col-sm-3">
        <img src="../assets/perso1.png" class="img-fluid  " alt="vortex1" />
    </div>
  </div>
</div>

<!-- vidéo easter egg -->
<div (click)="maggieClicked()" class="video">
  <video *ngIf="src" controls (click)="toggleVideo()" #videoPlayer autoplay>
      <source src="../assets/couchgag.mp4" type="video/mp4"/>
  </video>
</div>

<router-outlet></router-outlet>