<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid backi">
  <div class="row page-header  ">
      <div class="col-1 justify-content-center">
        </div>
    <div class="col-10 justify-content-center">
      <img src="../assets/Logo.png" class="img-fluid animated bounceIn slower " alt="Logo Rick" />
      <div>
          <p class="fontspe animated bounceIn slower">Use portals for find the eggs </p>
      </div>
    </div>
    <div class="col-12 col-sm-1 ">
      <img src="../assets/List eggs.png" class="img-fluid animated infinite bounce delay-4s slower" alt="List eggs" />
      <p class="fontspe2 animated bounceIn slower ">your eggs </p>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 d-flex align-items-end marty">
      <img src="../assets/perso2.png" class="img-fluid  " alt="marty" usemap=#maggiemap/>
      <map name="maggiemap">
          <area shape="rect" coords="0,0,82,126" alt="Sun" href="sun.htm">
      </map>
      
    </div>
    
    <div class="col-sm-3 paddingvortex animated bounceIn slower">
      <img src="../assets/vortex2.png" class="img-fluid rotating  " alt="vortex1" />
    </div>
    <div class="col-sm-3 paddingvortex animated bounceIn slower">
      <img src="../assets/vortex1.png" class="img-fluid rotatingdeux" alt="vortex2" />
    </div>
   
  
    <div class="col-sm-3">
        <img src="../assets/perso1.png" class="img-fluid  " alt="rick" />
    </div>
  </div>
</div>

<router-outlet></router-outlet>