body{
    font-family: 'Gloria Hallelujah', cursive;
  }
 
  .container {
     align-items: center;
     font-family: 'Gloria Hallelujah', cursive;
 }
 
 .backi {
     background: url(../../assets/Fond.png) no-repeat center fixed;
     background-size: cover;   
 }
 
 .page-header{
     text-align: center;
     padding-top: 40px;
 }
 
 .marty{
     align-items: flex-end;
  }
  .maggie {
    
    align-items: flex-end;
}
 
 
 .rotating {
     -webkit-animation: rotation 5s infinite linear;
 }
 
 @-webkit-keyframes rotation {
     from {
             -webkit-transform: rotate(0deg);
     }
     to {
             -webkit-transform: rotate(359deg);
     }
 }
 
 .rotatingdeux {
     -webkit-animation: rotationd 5s infinite linear;
 }
 
 @-webkit-keyframes rotationd {
     from {
             -webkit-transform: rotate(0deg);
     }
     to {
             -webkit-transform: rotate(-359deg);
     }
 }
 
 .fontspe{
     font-family: 'Gloria Hallelujah', cursive;
     color: white;
     font-size: 40px;
 }
 
 .fontspe2{
     font-family: 'Gloria Hallelujah', cursive;
     color: white;
     font-size: 20px;
 }
 
 @media screen and (min-width: 200px) and (max-width: 640px) {
     .marty {
       display: none!important;
     }
   }
 
   .paddingvortex{
       padding-top: 40px;
   }
   
 // vidéo easter egg
.video {
    position: absolute;
    z-index: 20;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
}
.list-group {
    z-index: 200;
    position: absolute;
}
